.dropdown {
  position: relative;
  padding: 1rem;

  select {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    padding: 0.7rem 0.7rem 0.7rem 0;
    font-size: 1.1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}
.has-float-label {
  display: block;
  position: relative;
  margin-bottom: 1rem;

  input, textarea {
    padding: 1rem 0 0.5rem 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: initial;
    color: #2c2c2c;
    caret-color: #2979ff;
    border-bottom: 2px solid #8a8a8a;
    font-family: Arial, serif;
    font-size: 1rem;
    line-height: 1.15;
    margin: 0;
    outline: none;

    &:hover {
      &:not(:focus) {
        border-bottom: 2px solid #1e1e1e !important;
      }

      &:invalid:not(:placeholder-shown):not(:focus) {
        border-bottom: 2px solid #ff1744 !important;
      }
    }

    &:focus {
      border-bottom: 2px solid #2979ff;
      transition: all .2s;

      ~ .label {
        color: #2979ff !important;
      }
    }

    &:invalid{
      ~ .label {
        color: #ff1744;
      }
      :not(:focus) {
        border-bottom: 2px solid #ff1744 !important;
      }
    }

    &:placeholder-shown:not(:focus) {
      border-bottom: 2px solid #8a8a8a;
    }

    &:placeholder-shown:not(:focus) + .label {
      font-size: 1rem;
      top: 1.5rem;
      bottom: -0.5rem;
      color: #838383;
    }

    &:-moz-ui-invalid {
      border-bottom: 2px solid red !important;
    }

    &:-moz-ui-invalid:not(:placeholder-shown) ~ .label {
      color: red !important;
    }
  }

  label, > .label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 0.8rem;
    color: #6d6d6d;
    transition: all .2s;
    pointer-events: none;

  }

}
.has-float-label input:invalid:not(:focus):not(:placeholder-shown) ~ .error {
  display: block;
}



.has-float-label input:invalid:not(:focus):not(:placeholder-shown) ~ .helper {
  display: none;
}

.helper {
  display: block;
  color: #6d6d6d;

}
.error {
  color: #ff1744;
  display: none;
}
.helper, .error {
  font-size: 12px;
  padding-top: 8px;
  line-height: 1;
}